<input type="checkbox" class="open-sidebar-menu" id="open-sidebar-menu">
<label for="open-sidebar-menu" class="sidebar-icon-toggle">
  <div class="spinner diagonal part-1"></div>
  <div class="spinner horizontal"></div>
  <div class="spinner diagonal part-2"></div>
</label>
<nav id="sidebar-menu">
  <div class="sidebar-menu__inner">
    <h2><span class="prev-challenge"><a href="./cc{{prevC}}"> <<</a></span> {{title}} <span class="next-challenge"><a href="./cc{{nextC}}"> >></a></span></h2>
    <ul>
    {{#each challenges}}
        <li class="{{#ifActive ../current title}}active{{/ifActive}}"><a href="./cc{{id}}">CC{{id}}: {{title}}</a></li>
    {{/each}}
    </ul>
  </div>
</nav>