<nav>
  <h2><span class="prev-challenge"><a href="./cc{{prevC}}"> <<</a></span> {{title}} <span class="next-challenge"><a href="./cc{{nextC}}"> >></a></span></h2>
  <ul>
  {{#each challenges}}
      <li class="{{#ifActive ../current title}}active{{/ifActive}}"><a href="./cc{{id}}">CC{{id}}: {{title}}</a></li>
  {{/each}}
  </ul>
</nav>